<h3 class="mb-4">Nuova attività</h3>

<form [formGroup]="nuovaAttivitaData" (submit)="submit()">
  <div class="form-group">
    <label for="inputNome">Nome</label>
    <input
      formControlName="nome"
      type="text"
      class="form-control"
      [ngClass]="
        this.nuovaAttivitaData.controls['nome'].value == '' ? 'is-invalid' : ''
      "
      id="inputNome"
      placeholder="Nome attività"
    />
    <div
      *ngIf="this.nuovaAttivitaData.controls['nome'].value == ''"
      class="invalid-feedback"
    >
      Nome non valido
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAula">Aula</label>
      <select
        id="inputAula"
        class="form-control custom-select"
        [ngClass]="
          this.nuovaAttivitaData.controls['aula'].value == ''
            ? 'is-invalid'
            : ''
        "
        formControlName="aula"
      >
        <option>Multimediale</option>
        <option>Fisica</option>
        <option>Chimica</option>
        <option>Informatica</option>
        <option>3</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>27</option>
        <option>28</option>
        <option>29</option>
        <option>30</option>
        <option>31</option>
        <option>32</option>
        <option>37</option>
        <option>38</option>
        <option>41</option>
        <option>42</option>
        <option>43</option>
        <option>44</option>
        <option>45</option>
        <option>46</option>
        <option>48</option>
        <option>52</option>
        <option>53</option>
        <option>55</option>
        <option>56</option>
        <option>57</option>
        <option>58</option>
        <option>59</option>
        <option>60</option>
        <option>62</option>
      </select>
      <div
        *ngIf="this.nuovaAttivitaData.controls['aula'].value == ''"
        class="invalid-feedback"
      >
        Aula non valida
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPiano">Piano</label>
      <select
        id="inputPiano"
        class="form-control custom-select"
        [ngClass]="
          this.nuovaAttivitaData.controls['piano'].value == ''
            ? 'is-invalid'
            : ''
        "
        formControlName="piano"
      >
        <option>1° Piano</option>
        <option>2° Piano</option>
        <option>3° Piano</option>
      </select>
      <div
        *ngIf="this.nuovaAttivitaData.controls['piano'].value == ''"
        class="invalid-feedback"
      >
        Piano non valido
      </div>
    </div>
  </div>
  <!--<fieldset class="row mb-3">
    <legend class="col-form-label col-sm-2 pt-0">Impostazioni extra</legend>
    <div class="col">
      <div class="form-check">
        <input
          style="margin-right: 0.4rem"
          type="checkbox"
          id="extra-descrizione"
        />
        <label class="form-check-label" for="extra-descrizione">Descrizione</label>
      </div>
      <div class="form-check">
        <input
          style="margin-right: 0.4rem"
          type="checkbox"
          id="extra-pianificazione"
        />
        <label class="form-check-label" for="extra-pianificazione">Pianifica per un altro giorno</label>
      </div>
      <div class="form-check">
        <input
          style="margin-right: 0.4rem"
          type="checkbox"
          id="extra-ricorrenza"
        />
        <label class="form-check-label" for="extra-ricorrenza">Ricorrenza</label>
      </div>
    </div>
  </fieldset>-->
  <div class="form-group">
    <label for="inputDescrizione">Descrizione</label>
    <input
      formControlName="descrizione"
      type="text"
      class="form-control"
      id="inputDescrizione"
      placeholder="Descrizione attività (opzionale)"
    />
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputInizio">Inizio</label>
      <input
        formControlName="inizio"
        type="time"
        class="form-control"
        id="inputInizio"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputFine">Fine</label>
      <input
        formControlName="fine"
        type="time"
        class="form-control"
        id="inputFine"
      />
    </div>
  </div>
  <div class="form-group">
    <label for="inputNote">Note</label>
    <textarea
      rows="3"
      formControlName="note"
      type="text"
      class="form-control"
      id="inputNote"
      placeholder="Note aggiuntive (opzionali, non visibili)"
    ></textarea>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="!nuovaAttivitaData.valid || controllaOra()"
  >
    Conferma
  </button>
</form>
