<h3 class="mb-4">Segnala</h3>
<div class="row">
    <a class="btn btn-primary" href="mailto:finardialberto@gmail.com?Subject=%5BAM%20-%20BUG%5D&body=Tipologia%3A%0A%0ASezione%20dell%27app%20%28se%20possibile%29%3A%0A%28Scegliere%20tra%20Dashboard%2C%20Nuova%20attivit%C3%A0%2C%20Modifica%20attivit%C3%A0%2C%20Impostazioni%2C%20Segnala%29.%0A%0ABreve%20descrizione%3A%0A%0APossibile%20soluzione%20%28se%20possibile%29%3A">Problema / Bug</a>
</div>
<div class="row mt-2">
    <a class="btn btn-primary" href="mailto:finardialberto@gmail.com?Subject=%5BAM%20-%20SUGGERIMENTO%5D&body=Tipologia%3A%0A%0ASezione%20dell%27app%20%28se%20possibile%29%3A%0A%28Scegliere%20tra%20Dashboard%2C%20Nuova%20attivit%C3%A0%2C%20Modifica%20attivit%C3%A0%2C%20Impostazioni%2C%20Segnala%29.%0A%0ABreve%20descrizione%3A%0A%0APossibile%20soluzione%20%28se%20possibile%29%3A">Suggerimento / Miglioria</a>
</div>